body { background-color: black; }
.wd-padding-left16 { padding-left: 16px; }
.wd-padding-left { padding-left: 12px; }
.wd-padding-right16 { padding-right: 16px; }
.wd-padding-right14 { padding-right: 14px; }
.wd-padding-right { padding-right: 12px; }
.wd-padding-top { padding-top: 12px; }
.wd-padding-bottom { padding-bottom: 12px; }

.wd-border-title { border-width: 1px; border-style: solid; border-color: rgb(47,51,54);
    border-bottom-color: lightgray; }
.wd-title { color: white; font-size: 20px; }
.wd-handle { color: lightgray; font-size: 13px; }

.wd-border { border-width: 1px; border-style: solid; border-color: rgb(47,51,54); }
.wd-grid-container { display: grid; grid-template-columns: 48px auto; grid-column-gap: 12px;
    justify-content: start; align-items: start; padding-bottom: 15px; }
.wd-avatar { border-radius: 50%; width: 48px; height: 48px; }
.wd-avatar img { border-radius: 50%; width: 100%; height: 100%; }

.wd-text { color: white; font-size: 15px; }
.wd-text-lightgray { color: lightgray; font-size: 15px; }
.wd-text-red { color: red; font-size: 15px; }

.wd-border-lightgray { border-width: 1px; border-style: solid; border-color: lightgray; }
.wd-506-dim { max-width: 506px; }
.wd-img-dim { max-width: 504px; height: 264px; }
.wd-img-dim img { width: 100%; height: 100%; border-top-left-radius: 40px; border-top-right-radius: 40px; }
.wd-img-text-dim { max-width: 504px; border-bottom-left-radius: 40px; border-bottom-right-radius: 40px; }

.wd-flex-container-icon { display: flex; justify-content: space-between; }
.wd-icon { width: 20px; position: relative; top: 5px; }