body { background-color: black; }
.wd-border { border-width: 1px; border-style: solid; border-color: rgb(47,51,54); }
.wd-border-lightgray { border-width: 1px; border-style: solid; border-color: lightgray; }
.wd-padding-left16 { padding-left: 16px; }
.wd-padding-left { padding-left: 12px; }
.wd-padding-right { padding-right: 12px; }
.wd-padding-top { padding-top: 12px; }
.wd-padding-bottom { padding-bottom: 12px; }

.wd-title { color: white; font-size: 20px; }
.wd-handle { color: lightgray; font-size: 13px; padding-bottom: 12px;
    border-bottom-color: lightgray; border-bottom-width: 1px; border-bottom-style: solid; }

.wd-float-left {float: left; }
.wd-avatar { border-radius: 50%; width: 48px; height: 48px; }
.wd-avatar img { border-radius: 50%; width: 100%; height: 100%; }

.wd-text { color: white; font-size: 15px; }
.wd-handle-and-date { color: lightgray; font-size: 15px; }
/*.wd-more { color: lightgray; font-size: 13px; float: right; }*/
.wd-post-dim { max-width: 506px; padding-right: 16px; }
.wd-img-dim { max-width: 504px; height: 264px; padding-top: 12px; padding-right: 12px; }
.wd-img-dim img { width: 100%; height: 100%; border-top-left-radius: 40px; border-top-right-radius: 40px; }
.wd-img-text-dim { max-width: 504px; border-bottom-left-radius: 40px; border-bottom-right-radius: 40px; }
.wd-img-text { color: lightgray; font-size: 15px; }

/* ******************** */
.wd-search { width: 80%; border-radius: 20px; padding: 10px;
    border-width: 0px;  background-color: darkgray; color: white; }
.wd-setting-icon {width: 30px; float: right;
    position: relative; top: 5px; right: 12px; }

.wd-grid-row { clear: both; }
.wd-grid-col { width: 14%; float: left; padding: 16px; color: rgb(110,118,125); font-size: 15px; }
.wd-grid-col-highlight { width: 14%; float: left; padding: 16px; color: rgb(29,161,242); font-size: 15px;
    border-bottom-color: rgb(29,161,242); border-bottom-width: 1px; border-bottom-style: solid; }

.wd-post-topic { color: rgb(110,118,125); font-size: 13px; width: 95%; float: left; }
.wd-post-more { color: rgb(110,118,125); font-size: 13px; width: 5%; float: right; }
.wd-post-title { color: white; font-size: 20px; }
.wd-post-text { color: rgb(110,118,125); font-size: 13px; }

.wd-post-left { float: left; }
.wd-post-author { color: white; font-size: 13px; }
.wd-post-img { width: 120px; float: right; position: relative; right: 16px;
    border-radius: 20px; width: 100px; height: 100px; }